<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 style="color:<%= @category.color %>;" ><%= @category.name %></h1>
  <div class="row">
    <%= render @category.articles %>
  </div>

<div class="text-center top-space">
  <%= link_to 'Editar', edit_category_path(@category) %> |
  <%= link_to 'Volver', categories_path %>
</div>
</div>
